@model IEnumerable<Zmg.Blog.Web.Models.PostModel>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Published Date
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
